@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Pretendard', sans-serif;
}

.page-main-title {
  font-size: 50px;
  font-weight: 600;
  margin-top: 42px;
  margin-left: 4px;
  color: #3f3f46;
}

.spinner-border {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 0.25em solid currentColor;
  border-top-color: transparent;
  border-radius: 9999px;
  animation: spin 0.75s linear infinite;
}

/* login, register 페이지 공통 스타일 (login- 접두사로 시작) */
.login-page-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.login-header-title {
  margin: 4px 0px 40px 0px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #3f3f46;
}

.login-form-layout {
  margin-top: 2px;
  padding: 28px 16px 32px 16px;
  border: 1px solid #d1d5db;
  width: 100%;
  border-radius: 4px;
  /* background: linear-gradient(#fdf9f9, #fffffb, #f9fdfd); */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.login-label-input-group {
  margin-bottom: 12px;
}

.login-form-input {
  width: 100%;
  margin-top: 6px;
  padding: 6px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.login-form-schema-error {
  margin-top: 4px;
  font-size: 12px;
  color: #ff1d1d;
}

.login-form-submit-button {
  width: 100%;
  margin-top: 32px;
  padding: 6px 0px 6px 0px;
  border: 1px solid rgb(214 211 209);
  border-radius: 4px;
  background-color: #74c8ff;
  color: white;
  font-weight: 500;
}

.login-form-submit-button:hover {
  background-color: #0284c7;
  color: white;
}

.login-link-text {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
  font-size: 12px;
  color: #71717a;
}

.login-link-text span {
  margin-left: 4px;
  text-decoration: underline;
  color: #60a5fa;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* 다크모드 */
:root {
  --white: hsl(210 40% 98%);
  --black: #2b2b2b;

  --background: white;
  --foreground: var(--black);

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
}

.dark {
  --background: var(--black);
  --foreground: var(--white);

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
