@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Pretendard', sans-serif;
}

@media (min-width: 320px) {
  .page-main-title {
    font-size: 34px;
    font-weight: 600;
    margin-top: 0px;
    margin-left: 0px;
    color: #3f3f46;
  }
}

@media (min-width: 640px) {
  .page-main-title {
    font-size: 50px;
    font-weight: 600;
    margin-top: 42px;
    margin-left: 4px;
    color: #3f3f46;
  }
}

.spinner-border {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 0.25em solid currentColor;
  border-top-color: transparent;
  border-radius: 9999px;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* SideDrawer */
.side-menu-item {
  @apply w-full px-8 py-6 text-3xl dark:text-slate-200 hover:bg-zinc-200 dark:hover:bg-zinc-600;
}

/* login, register 페이지 공통 스타일 (login- 접두사로 시작) */
.login-page-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.login-box {
  @apply flex items-center justify-center rounded-sm border border-gray-300 pb-[2rem] pt-[1.75rem] mobile:w-[23rem] mobile:px-3 sm:w-[25rem] sm:px-4;
  box-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.05),
    2px 2px 4px rgba(0, 0, 0, 0.1);
}

.login-header-title {
  @apply mt-1 w-full text-center text-3xl font-semibold text-zinc-800 mobile:mb-9 sm:mb-10 dark:text-slate-300;
}

.login-form-layout {
  @apply w-full mt-0.5 dark:border-zinc-500;
}

.login-label-input-group {
  margin-bottom: 12px;
}

.login-form-input {
  width: 100%;
  margin-top: 6px;
  padding: 6px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.login-form-schema-error {
  margin-top: 4px;
  font-size: 12px;
  color: #ff1d1d;
}

.login-form-submit-button {
  width: 100%;
  margin-top: 32px;
  padding: 6px 0px 6px 0px;
  border: 1px solid rgb(214 211 209);
  border-radius: 4px;
  background-color: #74c8ff;
  color: white;
  font-weight: 500;
}

.login-form-submit-button:hover {
  background-color: #0284c7;
  color: white;
}

.login-link-text {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
  font-size: 12px;
  color: #71717a;
}

.login-link-text span {
  margin-left: 4px;
  text-decoration: underline;
  color: #60a5fa;
}

/* Homepage */
.accordion-grid-layout {
  @apply grid gap-y-6 bg-stone-100 py-6 opacity-100 transition-opacity duration-300 dark:bg-zinc-700 mobile:grid-cols-3 mobile:gap-x-1 mobile:px-2 sm:grid-cols-4 sm:px-4 md:grid-cols-5 md:gap-x-3 lg:grid-cols-6 xl:grid-cols-8;
}

@layer components {
  .title-gradient-overlay {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 40%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(255, 255, 255, 0.9) 70%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .dark .title-gradient-overlay {
    background: linear-gradient(
      to bottom,
      rgba(30, 30, 30, 0) 0%,
      rgba(30, 30, 30, 0.5) 40%,
      rgba(30, 30, 30, 0.7) 50%,
      rgba(30, 30, 30, 0.9) 70%,
      rgba(30, 30, 30, 1) 100%
    );
  }

  .login-form-input {
    @apply mt-1.5 w-full rounded border border-gray-300 p-1.5;
  }

  .dark .login-form-input {
    @apply border-zinc-400 bg-zinc-700 text-zinc-300;
  }

  .dark .login-form-input:focus {
    @apply border-slate-300 outline-none ring-1 ring-slate-300;
  }
}

/* 다크모드 */
:root {
  --white: hsl(210 40% 98%);
  --black: #2b2b2b;

  --background: #1e1e1e;
  --foreground: #e0e0e0;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
}

.dark {
  --background: #1e1e1e;
  --foreground: #e0e0e0;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
