@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poetsen One';
  src: url('/fonts/PoetsenOne-Regular.woff2') format('truetype');
  font-style: normal;
}

*,
*::before,
*::after {
  @apply box-border;
}

html,
body {
  @apply m-0 w-full p-0;
}

body {
  font-family: 'Pretendard', sans-serif;
}

/* Layout */
.header_menu_item {
  @apply rounded-2xl px-4 py-1 text-lg font-semibold hover:bg-[#ebe4ff] sm:text-base lg:text-xl;
}

.site_logo {
  font-family: 'Poetsen One';
  @apply mobile:ml-1.5 mobile:text-lg sm:ml-2.5 sm:text-xl lg:ml-[18px] lg:text-[22px] xl:ml-[18px] xl:text-2xl;
}

/* Common */
@layer components {
  .title_image_gradient {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 40%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(255, 255, 255, 0.9) 70%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .dark .title_image_gradient {
    background: linear-gradient(
      to bottom,
      rgba(30, 30, 30, 0) 0%,
      rgba(30, 30, 30, 0.5) 40%,
      rgba(30, 30, 30, 0.7) 50%,
      rgba(30, 30, 30, 0.9) 70%,
      rgba(30, 30, 30, 1) 100%
    );
  }

  .login_form_input {
    @apply mt-1.5 w-full rounded border border-gray-300 p-1.5 dark:border-zinc-400 dark:bg-zinc-700 dark:text-zinc-300 dark:focus:border-slate-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-slate-300;
  }
}

.page_main_title {
  @apply text-[#3f3f46] mobile:ml-0 mobile:mt-0 mobile:text-[34px] mobile:font-semibold sm:ml-1 sm:mt-[42px] sm:text-[50px];
}

.spinner_border {
  @apply inline-block h-12 w-12 animate-spin rounded-full border-4 border-current border-t-transparent [animation-duration:0.75s];
}

/* SideDrawer */
.drawer_menu_item {
  @apply w-full px-8 py-6 text-3xl hover:bg-zinc-200 dark:text-slate-200 dark:hover:bg-zinc-600;
}

/* login, register 페이지 공통 스타일 (login- 접두사로 시작) */
.login_page_layout {
  @apply flex h-[80vh] w-full items-center justify-center;
}

.login_container {
  @apply flex items-center justify-center rounded-sm border border-gray-300 pb-8 pt-7 shadow-[2px_2px_4px_rgba(0,0,0,0.05),2px_2px_4px_rgba(0,0,0,0.1)] mobile:w-[23rem] mobile:px-3 sm:w-[25rem] sm:px-4;
}

.login_page_title {
  @apply mt-1 w-full text-center text-3xl font-semibold text-zinc-800 dark:text-slate-300 mobile:mb-9 sm:mb-10;
}

.login_form {
  @apply mt-0.5 w-full dark:border-zinc-500;
}

.login_input_group {
  @apply mb-3;
}

.login_form_schema_error {
  @apply mt-1 text-xs text-[#ff1d1d];
}

.login_form_submit_button {
  @apply mt-8 w-full rounded border border-gray-300 bg-[#74c8ff] py-1.5 font-medium text-white hover:bg-[#0284c7];
}

.login_register_switch_link {
  @apply mt-4 flex w-full justify-center text-xs text-[#71717a];
}

.login_register_switch_link span {
  @apply ml-1 text-[#60a5fa] underline;
}

/* Homepage */
.hidden_opacity {
  @apply z-10 opacity-0;
}

.fade_in_left {
  @apply z-20 mobile:opacity-100 mobile:transition-opacity mobile:duration-[1500ms] mobile:ease-out sm:translate-x-5 sm:transition-[opacity_1.5s_ease-out,transform_1s_ease-out];
}

.fade_in_right {
  @apply z-20 mobile:opacity-100 mobile:transition-opacity mobile:duration-[1500ms] mobile:ease-out sm:-translate-x-5 sm:transition-[opacity_1.5s_ease-out,transform_1s_ease-out];
}

/* MyDictionary */
.accordion_image_grid {
  @apply grid gap-y-6 bg-stone-100 py-6 opacity-100 transition-opacity duration-300 dark:bg-zinc-700 mobile:grid-cols-3 mobile:gap-x-1 mobile:px-2 sm:grid-cols-4 sm:px-4 md:grid-cols-5 md:gap-x-3 lg:grid-cols-6 xl:grid-cols-8;
}

/* 다크모드 */
:root {
  --white: hsl(210 40% 98%);
  --black: #2b2b2b;

  --background: #1e1e1e;
  --foreground: #e0e0e0;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
}

.dark {
  --background: #1e1e1e;
  --foreground: #e0e0e0;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
