@font-face {
  font-family: 'Noto Serif KR';
  src: url('/fonts/NotoSerifKR-VariableFont_wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

.index {
  font-family: 'Noto Sans KR';
  font-size: 36px;
  font-weight: 500;
  margin: 4px;
  color: rgb(251 113 133);
}

.main {
  font-size: 50px;
  font-weight: 600;
  margin-top: 42px;
  margin-left: 4px;
  color: oklch(0.274 0.006 286.033);
}

.title {
  font-family: 'Noto Serif KR';
  font-size: 50px;
  color: #797d48;
}

.subtitle {
  font-family: 'Noto Serif KR';
  font-size: 28px;
  color: #797d48;
}
