@font-face {
  font-family: 'Poetsen One';
  src: url('/fonts/PoetsenOne-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

.logo {
  font-family: 'Poetsen One';
  font-size: 20px;
  margin-left: 18px;
}

.menu {
  font-family: 'Noto Sans KR';
  font-size: 18px;
  font-weight: 600;
  color: rgb(251 113 133);
}

.menu:hover {
  background-color: rgb(255 228 230);
}
