@font-face {
  font-family: 'Poetsen One';
  src: url('/fonts/PoetsenOne-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

.logo {
  font-family: 'Poetsen One';
}

.menu {
  padding: 4px 16px 4px 16px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 16px;
}

.menu:hover {
  background-color: #ebe4ff;
}

@media (min-width: 320px) {
  .logo {
    font-size: 18px;
    margin-left: 6px;
  }
}

@media (min-width: 640px) {
  .logo {
    font-size: 20px;
    margin-left: 10px;
  }

  .menu {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .logo {
    font-size: 22px;
    margin-left: 18px;
  }

  .menu {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  .logo {
    font-size: 24px;
    margin-left: 18px;
  }

  .menu {
    font-size: 20px;
  }
}
