.formGroup {
  margin-bottom: 12px;
}

.pageLayout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin: 128px 96px 0px 96px;
}

.formLayout {
  margin-top: 2px;
  padding: 32px 16px 32px 16px;
  border: 1px solid rgb(209 213 219);
  width: 100%;
  border-radius: 4px;
  /* 추후 그라데이션 꾸며보기 */
  /* background: linear-gradient(#fdf9f9, #fffffb, #f9fdfd); */
  box-shadow: 2px 2px 4px rgba(0,0,0,0.05), 2px 2px 4px rgba(0,0,0,0.1)
}

.popupOpenButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  padding: 0px 12px 0px 12px;
  background-color: rgb(214 211 209);
  border-radius: 4px;
}

.popupOpenButton:hover {
  background-color: rgb(168 162 158);
}

.submitButton {
  width: 100%;
  margin-top: 32px;
  padding: 6px 0px 6px 0px;
  border: 1px solid rgb(214 211 209);
  border-radius: 4px;
  background-color: rgb(255 228 230);
}

.submitButton:hover {
  background-color: rgb(254 205 211);
  color: white;
}

.linkText {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
  font-size: 12px;
  color: rgb(251 113 133);
}

.formSchemaError {
  margin-top: 4px;
  font-size: 12px;
  color: red;
}
